<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="/Frontend Service-security/js/od7/cdn.js"></script>

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/Frontend Service-security/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/Frontend Service-security/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="firstName"
                                            placeholder="First Name">
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="lastName"
                                            placeholder="Last Name">
                                            <br>
                                    </div>
                                    <br>
                                    <div class="col-sm-6">
                                        <select class="form-select form-control-user "  id="tDocument">
                                            <option value="T.I">T.I</option>
                                            <option value="C.C">C.C</option>
                                            <option value="R.C">R.C</option>
                                            <option value="P.S">P.S</option>
                                            <option value="C.EX">C.EX</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <select class="form-select form-control-user" id="gender">
                                            <option value="M">Masculino</option>
                                            <option value="F">Femenino</option>
                                        </select>
                                        <br>
                                    </div>
                                
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="document"
                                            placeholder="Document">
                                            <br>
                                    </div>
                                 
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="phone"
                                            placeholder="Phone">
                                            <br>
                                    </div>
                                   

                                    <div class="col-sm-6">
                                        <input type="date" class="form-control form-control-user" id="dateOfBirth"
                                            placeholder="Date of birth">
                                    </div>

                                </div>


                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email"
                                        placeholder="Email Address">
                                </div>


                                <div class="col-sm-10">
                                    <div class="Address">
                                        <select class="form-control1 " id="address" name="address"></select>
                                        No
                                        <input type="number" class="form-control1" name="numeral" id="numeral"
                                         value=""required  placeholder="enter #">
                                         -
                                         <input type="text" class="form-control1" name="numeral2" id="numeral2"
                                         value=""required  placeholder="enter #">

                                        -
                                         <input type="text" class="form-control1" name="description" id="description" 
                                         value=""required  placeholder="enter Description">  
                                        
                                    </div>
                                            
                                            
                                </div>     
                                        <br>  
                        
                      

                                
                                <div class=" form-group">
                                    <input type="hidden" id="selected_city_id" name="selected_city_id"
                                        value="">
                                    <input type="text" list="city_id" class="form-control form-control-user" name="city_id"
                                        id="city_id" placeholder="Municipality">
                                </div>
                        

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="password" placeholder="Password">
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>



                                <a onclick="save()" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="../Security/login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/Frontend Service-security/js/Features/ajaxFunctions.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/Frontend Service-security/js/sb-admin-2.min.js"></script>
    <script src="/Frontend Service-security/js/Security/record.js"></script>
    <script >
        loadCity();
    </script>

</body>

</html>