<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person</title>
   <script src="/Frontend Service-security/js/Features/cdn.js"></script>
   

    <title>
        Category
      </title>
</head>
<body>

 
 
<div class="container">
<script src="/Frontend Service-security/js/Features/Butonn.js"></script>

  
  <!-- Modal -->
  <legend>Category</legend>
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="width: 140%; height: 150%; ">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Registro</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <div class="container">
                    <div id="inputdata">
                        <form class="row g-3 needs-validation" novalidate*class="row g-3 needs-validation" novalidate>
                            <fieldset class="formulario">
                                <legend>Category</legend>
                                <div class="form-group row">

                                    <label class="col-sm-2 col-form-label">name</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" name="id" id="id" value="">
                                        <input type="text" class="form-control" name="name" id="name" value=""
                                            required placeholder="Ingresar name">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Ingrese el codigo.
                                        </div>
                                        <br>
                                    </div>
                                    <label class="col-sm-2 col-form-label">description</label>
                                    <div class="col-sm-10">
                                   
                                        <input type="text" class="form-control" name="description" id="description" value=""
                                            required placeholder="Ingresar description">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Ingrese el codigo.
                                        </div>
                                        <br>
                                    </div>

                                            <label class="col-sm-2 col-form-label">Estate</label>
                                            <div class="col-sm-10">

                                                <select class="form-select" id="estate">
                                                    <option selected>--select--</option>
                                                    <option value="1">asset</option>
                                                    <option value="0">idle</option>
                                                </select>
                                                <br>
                                            </div>

              
                            </fieldset>
                        </div>
                    </div>
                    <div class="modal-footer">
                            <button type="button" name="btnCloced" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearData()">Close</button>
                            <br>
                            <button name="btnAgregar" class="btn btn-primary" type="button" onclick="save()" data-bs-dismiss="modal">Agragar</button>
                        </div>
                    </form>
        </div>
      </div>
    </div>
  </div>
  

    <table  class="table table-hover">
        <thead>
            <tr class="table-dark">
            <th scope="col">Name</th>
            <th scope="col">Description</th>
                      
            <th scope="col">State</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider" id="resultData">
            
            
        </tbody>
      </table>
  

    </div>

 
  <script type="application/javascript" src="/Frontend Service-security/js/Operational/category.js"></script>
  </script>

  <script>
   
        loadData();
        </script>
    

</body>
</html>